@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #d2dbdd;
    font-family: "josefin Sans", "Arial Narrow", Arial, sans-serif;
}

div {
    width: 100%;
    height: 100vh;
    background: #8e44ad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    background: transparent;
    text-shadow: 0 2px 2px black;
}

p {
    color: white;
    background: transparent;
    text-shadow: 0 2px 2px black;
}

input {
    width: 500px;
    padding: 15px 20px;
    border: none;
    outline: none;
    margin: 20px 0;
    text-align: center;
}

button {
    line-height: 24px;
    padding: 0px 20px;
    background: transparent;
    color: white;
    border: 2px solid #ecf0f1;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}